<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yjf.dao.ArticleDao">


    <select id="selectFavCount" resultType="integer" parameterType="integer">
        select count(1) from favorite where a_id=#{id}
    </select>

    <select id="selectCollectArticle" resultType="Article">
        SELECT
        article.id,
        article.title,
        article.user_id,
        article.publish_date,
        article.browse_count,
        article.content,
        `user`.real_name publish_real_name
        FROM
        article,
        favorite,
        `user`
        <where>
            favorite.u_id = #{userId} AND favorite.a_id = article.id AND `user`.id = article.user_id
            <if test="title != null and title != ''">and article.title like concat('%',#{title},'%')</if>
        </where>

    </select>



</mapper>