<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.yjf.dao.MeetingDao">


    <select id="selectPage" resultType="Meeting">
        SELECT
        meeting.id,
        meeting.dept_id,
        meeting.title,
        meeting.content,
        meeting.publish_date,
        meeting.start_time,
        meeting.end_time,
        meeting.`status`,
        meeting.make_user,
        dept.`name` dept_name
        FROM
        meeting,
        dept
        <where>
            meeting.dept_id = dept.id
            <if test="title != null and title != ''">
                and meeting.title like CONCAT('%',#{title},'%')
            </if>
            <if test="status != null and status != ''">
                and meeting.status=#{status}
            </if>

        </where>
    </select>


</mapper>